#logo, #std {
    margin: 12% auto;
}


#logo img{
  width:35%;
  margin-left:32%;
}

#std img{
  width: 50%;
  margin-left:25%;
}

hr{
    border:0px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    
}

#nav{
    width: 100%;
    text-transform: uppercase;
    font-size: 1.1em;
    line-height:1.5em;
    position:fixed;
    top: 0px;
    background:white
}

#nav ul{
    list-style-type:none;
    text-align:center;


}

#nav li{
    display:inline;
    margin-right:20px;
}

#nav a{
    text-decoration:none;
    padding:5px;
    color:#77903c;
}

#nav a:hover{
    text-decoration:none;
    background: lightgray;
    color:black;

}

@font-face {
  font-family: "JennaSue";
  src: url(http://tmxoxo.github.io/wedding/media/JennaSue.ttf) format("truetype");
}

#nav a:selected{
    color:black;
}

#nav select{
  display:none;
}

#title{
    font-size:20px;
    color:gray;
    font-weight:bold;
    text-align:center;
}
body{
    font-family:"Open Sans", "Arial", "Sans-serif";
    
}

#wel{
  text-align:center;
  font-family:JennaSue;
  font-size:3em;
}

#content{
    margin: 75px 10%;
    text-align:center;   
}

@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  #logo img{
  width:90%%;
  margin-left:5%;
  }

  #std img{
    width: 90%;
    margin-left:5%;
  }
  
  body{
    font-size:120%;
    margin-top:5%;
  }
  
  #nav ul{
    display: none;
  }
  
  #nav select{
    display: inline-block;
    background: transparent;
    width: 100%;
    padding: 5px;
    border:0;
    -webkit-appearance:none;
    font-size:.8em;
  }
  #wel {
    font-size:1.8em;
    margin-left:5%;
  }
  
  form {
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
      width:100%;
      border:1px solid #ccc;
      overflow: hidden;
      height:1.5em;
  }
  #nav{
      margin-left:5%;
      margin-right:5%;
      
      width:90%
  }
}

