<div id = "nav">
        <ul>
            <li><a href = "http://tmxoxo.github.io/wedding">Home</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/dayof.html">Event&nbsp;Details</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/visit.html">Travel&nbsp;&&nbsp;Stay</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/rsvp.html">RSVP</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/gift.html">Gift&nbsp;Registry</a></li>
        </ul>
 <form action="../">       
        <select  onchange="window.open(this.options[this.selectedIndex].value,'_top')"> 
    <option value="" selected = "selected">Jump to...</option>
    <option name="navmenu" value="http://tmxoxo.github.io/wedding">Home</option> 
    <option value="http://tmxoxo.github.io/wedding/dayof.html">Event&nbsp;Details</option> 
    <option value="http://tmxoxo.github.io/wedding/visit.html">Travel&nbsp;&&nbsp;Stay</option> 
    <option value = "http://tmxoxo.github.io/wedding/rsvp.html">RSVP</option> 
    <option value="http://tmxoxo.github.io/wedding/gift.html">Gift&nbsp;Registry</option> 
  </select> 
  </form>
</div>