<div id = "nav">
        <ul>
            <li><a href = "http://tmxoxo.github.io/wedding">Home</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/dayof.html">Event Details</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/visit.html">Travel & Stay</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/rsvp.html">RSVP</a></li>
            <li><a href = "http://tmxoxo.github.io/wedding/gift.html">Gift Registry</a></li>
        </ul>
    </div>
</div>